# runtime requirements

# Python Clarity Client API
-e git+https://github.com/crukci-bioinformatics/claritypy-client.git@v0.4.9#egg=claritypy-glsclient

# requests security package extra
requests[security]

# config
# Note : lxml needs libxml2-devel and libxslt-devel installed via the system package manager.
pyyaml
lxml
psutil
